<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Planner App</title>

    <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <!-- <script type="text/javascript" src="../../../dist/main.js"></script> -->

</head>

<body>
    <div id="app">
        <div class="holder headline">
            <h1>Travel Planner App</h1>
        </div>
        <div class="holder trip" id="trip-plans">
            <div id="error"></div>
            <div id="destination_img">
                <img src="" alt="city image" id="image">
            </div>
            <div id="error"></div>
            <div id="trip-details">
                <p>Today is: <span id="date"></span></p>
                <p>
                    Your trip to <span id="city">city</span> city in <span id="country">country</span> is <span id="count"></span> days away:
                </p>
                <div id="latlon">
                    <ul>
                        <li>Trip Details:
                            <ul id="this-trip">
                                <li>Departing:<span id="depart-date"> </span>
                                    <!-- On <span id="depart-flight"> </span> --></li>

                                <li>Returning: <span id="return-date"> </span>
                                    <!-- On <span id="return-flight"> </span> --></li>
                            </ul>
                        </li>
                        <li>City Coordinates are:
                            <ul>
                                <li>Latitude: <span id="lat"> : </span> </li>
                                <li>Longitude: <span id="lon"> : </span> </li>
                            </ul>
                        </li>
                        <li>
                            The weather is forecast to be <span id="description"></span> with a <span id="high">High: </span> of <span id="temp-high"> - </span> °C and a <span id="low">Low: </span> of <span id="temp-low">-</span> °C.
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <!-- <div class="holder zip">
            <label for="zip">Enter Zipcode here</label>
            <input type="text" id="zip" placeholder="Enter zip code here">
        </div> -->
        <div class="holder feel">
            <!-- <div class="holder feel" onsubmit="return Client.performAction(e)"> -->

            <label for="dates" id="dates">What are your trip dates?</label>
            <input type="text" class="myInput" id="startDate" placeholder="Enter departing date mm/dd/yyyy">

            <!-- <label for="returnDate">When is your return date?</label> -->
            <input type="text" class="myInput" id="returnDate" placeholder="Enter returning date mm/dd/yyyy">

            <label for="city_name" id="next_city">What city are you going to next?</label>
            <textarea type="text" class="myInput" id="city_name" placeholder="Enter city to visit" rows="2" cols="25"></textarea>

            <button id="generate" type="submit"> Generate </button>

            <!-- <button id="generate" type="submit" onClick="return Client.performAction(e)" onsubmit="return Client.performAction(e)"> Generate </button> -->
            <!-- onClick="return Client.performAction(e) onsubmit="return Client.performAction(e) // I added looking at proj 4, not sure yet -->
        </div>
    </div>

</body>

</html>