body {
    background: #fffff8;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
    display: grid;
    grid-auto-rows: minmax(150px, auto);
    grid-template-columns: repeat(2 1fr);
    height: 100%;
    width: 100%;
    background: #cfcece;
    /* #81051c */
    color: #f0aa3a;
    /* f0d43a */
    justify-content: center;
    grid-gap: 0.5em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    min-width: 200px;
}


/* Style for travel*/

#trip-plans {
    display: flex;
    background: #fffff8;
    width: 98%;
}

#destination_img {
    background: #3b4a6b;
    width: 30%;
    padding: 0.3em;
}

#trip-details {
    background: #3b4a6b67; // #ababab;
    width: 68%;
    padding: 0.4em;
}

#latlon {
    font-size: 0.6em;
    color: #3b4a6b;
}

.myInput {
    width: 95%;
    padding-left: 1em;
}


/* End Style for travel*/

.holder {
    padding: 0;
}

.entry {
    background: #3b4a6b67;
    width: 90vw;
    //margin-left: 2vw;
    margin-bottom: 1vh;
}

#entryHolder {
    margin: 0.5em auto;
    padding: 0.3em 0.5em;
    width: 80vw;
    background: #510d668e;
    justify-content: center;
}

#date,
#temp,
#content {
    color: thistle;
    padding: 0.5em 1em;
}

#description,
#city,
#city-name,
#country,
#country-code,
#lat,
#lon,
#count,
#depart-date,
#return-date,
#depart-flight,
#return-flight,
#high,
#low,
#temp-high,
#temp-low,
#duration {
    color: lightcyan;
}

.headline {
    padding: 0.1em;
}


/*My additions */

#zip {
    margin-left: 5vw;
    width: 80vw;
    padding-left: 1em;
}

#destinations {
    //feelings
    width: 90vw;
    height: 30vh;
    margin-left: 2vw;
}

.feel {
    //display: grid;
    display: flex;
    flex-direction: column;
}


/*  Basic Styling To Override Default For Basic HTML Elements */

label {
    display: block;
    font-size: 1.2em;
}

input {
    display: block;
    height: 60px;
    width: 90vw;
    /*320px;*/
    background: #3b4a6b67;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button {
    width: 50vw;
    height: 15vw;
    background: #3b4a6b;
    color: #f0d43a;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin: 0.3em auto;
    /* margin-left: 20vw; */
}

h1 {
    font-size: 36px;
    background: #3b4a6b;
    padding: 1em;
}

textarea {
    background: #3b4a6b67;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}


/* Reset style for HTML element on active to have no border*/

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


/* Style for Placeholder Text*/

::placeholder {
    /* Firefox, Chrome, Opera */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
}

@media screen and (min-width: 700px) {
    #app {
        text-align: left;
    }
    h1 {
        font-size: 50px;
        /* color: whitesmoke; */
        padding: 0.1em;
        width: fit-content;
        /* box-shadow: 2px 4px 5px; */
        border: 0.5px solid goldenrod;
    }
    button {
        grid-column: 2;
        grid-row: 2;
        width: 25vw;
        height: 7vw;
        margin-right: 5em;
    }
    // .zip {
    //     margin-left: 2vw;
    // }
    // #zip {
    //     width: 40vw;
    //     margin: 0;
    // }
    // .holder.feel {
    //     width: 90vw;
    //     margin-left: 2vw;
    // }
    // #city_name {
    //     width: 55vw;
    //     height: 20vh;
    //     margin: 0;
    //     grid-column: 1;
    //     grid-row: 2;
    // }
    // #depart-date,
    // #return-date,
    // #city_name {
    //     width: 100px;
    // }
    // button {
    //     grid-column: 2;
    //     grid-row: 2;
    //     width: 25vw;
    //     height: 15vh;
    //     margin-left: 0.5em;
    // }
    // .entry {
    //     padding-left: 0.5em;
    //     width: 85vw;
    // }
    // #entryHolder {
    //     width: 95%;
    //     margin: 1em auto;
    //     padding: 0.5em;
    // }
    // .holder.feel {
    //     display: grid;
    //     grid-template-columns: 350px repeat(1, 1fr);
    //     width: 50%;
    // }
}